body{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTtQubO4Zx9OVUTR3ybSfGQmlTou2PQc3sLnjn0TefzdKECyKJnQ);
  background-repeat: repeat;
}

.header{
  background: url();
  border-color: green;
  border-width: 10px;

}

.summary{
  border: 4px solid green;
  width: 47%;
  text-align:left;
  margin:10px;

  float: right;
}

.education{
  border: 4px solid green;
  width: 47%;
  text-align:left;
  margin:10px;

  float: left;
}
main{


}
section{
  position: relative;
}
section::nth-child(1){
  background: green;
}
section::nth-child(2){
  background: green;
}
section::nth-child(3){
  background: green;
}
.nav{
  position: fixed;
  top:20px;
  left:20px;
}
.nav button{
  padding:10px;
  border:0;
  border-radius: 5px;
  font-size: 14px;

}
.Story{
  border: 4px solid green;
  text-align:center;
  margin:10px;
  height:200px;
  position: relative;
  font-size: 22px;
}

#contact{
  border: 4px solid green;
  width: 47%;
  text-align:left;
  margin:10px;
  height:100px;
  float: right;
  position: relative;
}
#listsocial{
  position: relative;
}


.Links {
  border: 4px solid green;
  width: 47%;
  text-align:left;
  margin:10px;
  float: left;
}

.display-8{}

#summarytitle{}

#subtitle{

}




.footer{
  position: relative;
  bottom: -500px;
  border: 4px solid green;

  text-align:center;

  }
}
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
