.header{
  display: block;
  background-color: white;

  background-repeat: no-repeat;
  border: 1px solid black;

  top: 0;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
}

@media query {min-width: 600px ;
 body {
   position: relative;
 }
}

.header .headertitle{
  display: inline-block;
  top: 0;
  font-family: 'Tangerine', serif;
  font-size: 20px;
  padding-top: 0px;
  margin-right: 0;
  margin-left: 0;
  float: left;
}
.header .headertitle:hover{
  display: inline-block;
  top: 0;
  font-family: 'Tangerine', serif;
  padding-top: 2px;
  margin-right: 0;
  margin-left: 0;
  float: left;
}

.header .logo img{
   background-image: url('img/img3.png');
   background-repeat:no-repeat;
   background-size:contain;
   height:100px;width:100px;
   float: left;
   top: 0;
}


.header .headertitle h1{
  margin-top: 10px;
  margin-left: 20px;
  position:relative;
  top: 0;
}

.header .optionheader {
  float:right;

  position:relative;
  right: 25px;
  display: inline;
  font-family: 'Tangerine', serif;
  font-size: 36px;
  top: 0;
}

.header .optionheader{
  float:right;
  position:relative;
  right: 25px;
  display: inline;
  font-family: 'Tangerine', serif;
  font-size: 36px;
  top: 0;
}


.header .optionheader nav ul li a{
  float: right;
  text-align: left;
  top: 0;
}

@media only screen and (min-width: 600px){

  .bodypage1{
    position:absolute;
    width: 100%;
    margin-top: 100px;

    border: 1px solid black;
    height: 750px;
    background-image: url(img/home.jpg);

    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;




    }

    .wrapper1 #imageabout img{
      float: left;
      width: 350px;
      height:350px;
      padding-bottom: 50px;
      margin-top: 100px;
      margin-left: 15%;
    }

    .bodypage1 #parag1{
      color:#282827;
      display: inline-block;
      font-family: Helvetica, serif;
      font-size: 20px;
      text-align: left;
      margin-top: 0px;
      margin-left:20px;
      padding: 20px;
      height:400px;
      width: 50%;
      border: 2px solid black;
      border-radius: 20px;
      box-shadow: 2px 5px;
    }

    .bodypage1 #parag2{
      color:#282827;
      display: inline-block;
      font-family: Helvetica;
      font-size: 20px;
      margin-top: 0px;
      margin-left:270px;
      border-radius: 20px;
      width: 100%;
      height:150px;
      width: 1300px;
      border: 2px solid black;
      box-shadow: 2px 5px;
      padding: 20px;
    }

    .bodypage1 #aboutmetitle{
      color: #282827;
      margin-top: 50px;
      margin-left: 200px;
    }

  #about {
    padding-top: 20px;
    margin-top:750px;
    height:800px;
    width: 100%;
    color: #fff;
    background-color: #87cefa ;
    background-image: url(img/about4.jpg);
    overflow-y: scroll;
  }

  #portfolio {
    padding-top:50px;
    height:800px;
    color: black;
    background-image: url(img/project2.jpg);
    background-size: 100% 100%;
    width: 100%;
    overflow: scroll;
  }
  #portfolio h1{
    width: 300px;
    height: auto;
  }

#portfolio #skills{
  float: left;
  color: black;
  width: 600px;
  height: 50px;
  overflow-x: auto;

}
#portfolio #h2proj{
  float: left;
  margin-left: 18%;
  color: black;
  width: 20%;
  overflow-x: auto;


}

.container-fluid .flex-container2 {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    height:570px;
    background-color: white;
    overflow: scroll;

  }

  .container-fluid .flex-container2 div {
    background-color: #f1f1f1;
    width: 30%;
    height: 120px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;

  }

/*to solve bug here*/
  .container-fluid .flex-container3{
    margin-right: 15%;
    margin-top: 47px;
    float: right;
    display:flex;
    flex-wrap: wrap;
    width: 35%;
    height:570px;
    background-color: white;
    overflow: scroll;


  }

  .container-fluid .flex-container3 div {
    background-color: #f1f1f1;
    width: 30%;
    height: 120px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
  }

  #portfolio .flex-container2 #html img{
    width: 170px;
    height: 110px;

  }

  #portfolio .flex-container2 #css img{
    width: 170px;
    height: 110px;

  }

  #portfolio .flex-container2 #js img{
    width: 170px;
    height: 110px;

  }

  #portfolio .flex-container2 #sass img{
    width: 170px;
    height: 110px;

  }

  #portfolio .flex-container2 #bootstrap img{
    width: 170px;
    height: 110px;

  }

  #portfolio .flex-container2 #react img{
    width: 170px;
    height: 110px;

  }

  #portfolio .flex-container2 #python img{
    width: 170px;
    height: 110px;

  }

  #portfolio .flex-container2 #django img{
    width: 170px;
    height: 110px;

  }

  #portfolio .flex-container2 #java img{
    width: 170px;
    height: 110px;

  }

  #portfolio .flex-container2 #kotlin img{
    width: 170px;
    height: 110px;

  }

  .flex-container2 #photoshop img{
    width: 170px;
    height: 110px;

  }

  .flex-container2 #sketch img{
    width: 170px;
    height: 110px;

  }







  #contact{
    padding-top: 50px;
    height:800px;
    color: white;
    background-color: white;
    display: block;
    width: 100%;
    overflow-y: scroll;
}

.contactcontent{
  overflow-y: scroll;
  background-image: url('img/contact3.jpg');
  background-size: 100% 100%;
}

.contactcontent h1{
  text-align: center;
  font-style: Helvetica;
  text-decoration: underline;
  text-shadow:2px 2px black;
  text-rendering: geometricPrecision;
}
.flex-container{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  margin-left: 40%;
  width: 350px;
  }

  .flex-container div{
    width: 100px;
    margin: 10px;
    z-index: 1;
    line-height: 100px;
    height: 100px;
  }

  .flex-container div:hover{
    width: 110px;
    margin: 10px;
    z-index: 1;
    line-height: 110px;
    height: 100px;
  }

  #facebook a img{
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  #linkedin a img{
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  #youtube a img{
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  .contactcontent label{
    float:left;
    padding-top: 60px;
    margin-left: 20%;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
    width: 30%;
    overflow-x: scroll;
  }

  .contactcontent p{
    width: 500px;
    height: 400px;
    float: right;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
  }

  .contactcontent #info{
    float: left;
    margin-left: 100px;
    display: block;
    margin-top: 100px;
  }
}
